<<<<<<< HEAD
﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

=======
﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

>>>>>>> e751d817e83e70f795effe7bc103841eac1a8547
<p>Use this page to detail your site's privacy policy.</p>